<div
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
  <h1 class="text-5xl sm:text-7xl sm mb-6">Bienvenido :)</h1>
  <button
    [routerLink]="getToken ? ['/products'] : ['/login']"
    type="button"
    class="w-44 inline-flex justify-center items-center disabled:opacity-75 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    {{ getToken ? 'Ver Productos' : 'Iniciar Sesión' }}
  </button>
</div>
