<div
  class="bg-gray-50 dark:bg-gray-900 flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <div class="flex justify-end">
        <a type="button" [routerLink]="['/home']">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hover:text-blue-600">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
        </a>
      </div>
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
        Iniciar Sesión
      </h1>
      <img src="../../../assets/svg/login.svg" width="300" class="m-auto" />
      <form
        class="space-y-4 md:space-y-6"
        [formGroup]="formLogin"
        (ngSubmit)="signIn()">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500"
            >Correo Electrónico</label
          >
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            class="bg-gray-50 border text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-1 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngClass]="validControl(emailControl)"
            placeholder="challenge@alkemy.org" />
          <app-input-form-error [control]="emailControl">
          </app-input-form-error>
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500"
            >Contraseña</label
          >
          <input
            type="password"
            name="password"
            id="password"
            placeholder="react"
            formControlName="password"
            class="bg-gray-50 border text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-1 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [ngClass]="validControl(passwordControl)" />
          <app-input-form-error [control]="passwordControl">
          </app-input-form-error>
        </div>
        <!-- <div *ngIf="formLogin.errors?.['invalidCredential']">
          <p class="mt-2 font-medium text-pink-600 text-sm">
            Las credenciales ingresadas son incorrectas
          </p>
        </div> -->
        <button
          type="submit"
          [disabled]="(formLogin.statusChanges | async) !== 'VALID'"
          class="w-full inline-flex justify-center items-center disabled:opacity-75 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg
            *ngIf="formLogin.status === 'PENDING'"
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24">
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
